
.App {
  background-color: #ffffff; /* rosa palo */
  min-height: 100vh;         /* para que ocupe toda la pantalla */
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.navbar .nav-link {
  text-decoration: none;
  color: #333;
  border-radius: 5px;
  transition: background-color 0.7s ease;
}

/* Estilo para el texto del Brand */
.navbar .navbar-brand {
  color: black; 
  font-size: 20px; 
  font-weight: bold; 
  padding-left: 20px;

}

.navbar .nav-link:hover {
  border-radius: 10px;
  background-color: #f7e29f;
  transition : 1s ease;
}

.table-interior {
  width: 100%;
  border-collapse: collapse; /* evita bordes dobles */
  margin-top: 1rem;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #000000;
  
}

.table-interior th,
.table-interior td {
  border: 1px solid #c0bfbf; /* borde gris claro */
  padding: 1px 5px;     /* espacio interno */
  text-align: left;

}

.table-interior thead {
  background-color: #f9f0e2;
  font-weight: bold;
}

.table-interior tbody tr:hover {
  background-color: #f1f1f1;
}


.option{
 background-color: black;
}

.container-a{
    width: 100%; 
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fef9f5f3; /* Rosa palo */
}
.container-a input,
.container-a select,
.container-a textarea {
  background-color: #ffffff;
  color: #000000;
  padding: 8px 10px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.container-a input:focus,
.container-a select:focus,
.container-a textarea:focus {
  background-color: #ffffff;
  outline: none;
  border-color: #a65c2a; /* Café */
  box-shadow: 0 0 5px rgba(166, 92, 42, 0.5); /* Sombra suave café */
}

.container-a label {
  color: #080503;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  display: block;
}


.boton-Eliminar {
  background-color: #ea3838; /* Rosa */
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.boton-Eliminar:hover {
  background-color: #bb4545; /* Un tono más oscuro al pasar el mouse */
  transform: scale(1.05);
  cursor: pointer;
}


.boton-Agregar {
  background-color: #3180a5; 
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.boton-Agregar:hover {
  background-color: #66b0b9; /* Un tono más oscuro al pasar el mouse */
  transform: scale(1.01);
  cursor: pointer;
}

p {
  font-size: 20px;
  text-align: center;
  color: #000000;
}

.link-serie {
  color: #3180a5;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease;
  white-space: nowrap;
}

.link-serie:hover {
  color: #66b0b9;
}

